*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.idb
*.suo
*.ipch
*.pch
*.exp
*.log
*.cachefile

[Bb]uild/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

.vs/
.vscode/
.vscode/*
*.code-workspace
.vcxproj*
*.user
*.sdf
*.opensdf
*.tlog/
*.lastbuildstate
*.VC.db
*.VC.opendb

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
CTestTestfile.cmake
[Tt]est/
[Cc]aca/

out/
ipch/
obj/
*.VC.db
*.VC.opendb

*.rsuser
*.sln.docstates
*.suo

*.log
*.tlog
*.temp
*.tmp
*.bak
*.ncb
*.userprefs
*.aps
*.wrn
*.scc

packages/
*.nupkg
project.lock.json
project.fragment.lock.json
.nuget/
*.snupkg

.publish/
node_modules/

.idea/
*.iml

*.ipdb
*.iobj

.idea/
